<div> Hello <%= @name %></div>

<h2>Welcome to GA movie search</h2>

<form action="/search" method="get">
  <input type="search" name="q" placeholder="Search for a movie" >
  <button>Search</button>
</form>