<div class="container">
  <div class="hero">
    <h1>Welcome to OMDB movie search</h1>

    <form action="/search" method="get">
      <input type="search" name="q" placeholder="Search for a movie" >
      <button>Search</button>
    </form>
  </div>
</div>