<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
  <title>OMDB Movie Search</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Yeseva+One' rel='stylesheet' type='text/css'>
</head>

<body>

  <%= yield %>

</body>
</html>